body {
  background: url("../img/pc-four.jpg") center no-repeat;
  background-color: black;
  color: #fff
  font-family: "Optima", sans-serif;
}

section {
  heigh: 100vh;
}

h1 {
  text-align: center;
  margin: 1em auto 0;
}

a {
  color:  #999 !important;
  text-decoration: none;
}

a:hover {
  background-color:rgba(0, 0, 0, 0.0) !important;
  color: #ffffff !important;
  text-decoration: none;
}

ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*-- Navigation ----------------------------------------------------------------*/

#navstyle {
    background-color:rgba(0, 0, 0, 0.3);
}

.navbar-nav > li{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* ---------  Form CSS ------------- */

.preset-name-field {
  width: 24%;
  padding-bottom: 1rem;
}

.cc-field {
  margin-right: 0.75em;
}

.form-control {

}

.input-color-override {
  color:  #999 !important;
  background-color:rgba(0, 0, 0, 0.7) !important;
}

/* ---------  Grid CSS ------------- */

.grid-container {
   margin: 5rem;
}

.block-list .block-list__item {
   margin-bottom: 1rem;
}

@media only screen and (min-width: 900px) {
   .block-list {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin: 1em auto;
   }

   .block-list:after {
      content: "";
      -webkit-box-flex: 1;
      flex: auto;
   }

   .block-list__item {
      height: auto;
      width: 25%;
      box-sizing: border-box;
   }


   .block-list-4 .block-list__item {
      width: 25%;
   }

   .block-list-4 .block-list__item:nth-child(4n) {
      border: none;
   }

}

/*--------------Save Preset Button----------------*/

.btn-save {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  display: block;
  padding: 8px 40px;
  margin: 30px auto 0;
  border: 2px solid #999999;
  color: #999999;
  background: transparent;
  border-radius: 3px;
  transition: all 1s ease;
}

.btn-save:hover {
    border: 2px solid #3676bc;
    letter-spacing: 0.2rem;
    transition: all 1s ease;
}

/*----------------load modal-------------------------*/

.modal-content {
  color:  #999 !important;
  background-color:rgba(9, 9, 9, 0.8) !important;
}

.modal-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  display: block;
}

.preset-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  display: block;
}

.btn-modal {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  display: block;
  padding: 8px 40px;
  margin: 30px auto 0;
  border: 2px solid #999999;
  color: #999999;
  background: transparent;
  border-radius: 3px;
  transition: all 1s ease;
}

.btn-delete {
  padding-right:  150px;
}

.btn-delete-close {
  padding-left:  75px;
}


#load-dialog {

}

#save-dialog {

}

#delete-dialog {

}

#deleted-dialog {

}
