{% block modal %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="modal fade" tabindex="-1" id="delete-dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                       <div class="modal-header"><h3 class=modal-title>PRESETS</h3></div>

                        <div class="modal-body">
                            <center>Delete Current Preset?</center>
                        </div>

                        <div class="modal-footer">
                            <div class="row">

                                <div class="col-sm-6 btn-delete">
                                    <a href="{{ url_for('main.delete') }}"><button type="button" class="btn-modal">Delete</button></a>
                                </div>

                                <div class="col-sm-6 btn-delete-close">
                                    <button type="button" class="btn-modal" data-bs-dismiss="modal">Close</button>
                                </div>
                                
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
