{% block grid %}
<div class="grid-container">
   <form method="POST" action="" class="preset-form">
      {{ form.hidden_tag() }}
       <div class="form-group preset-name-field">
          {% if form.preset.errors %}
          {{ form.preset(class="form-control is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.preset.errors %}
              <span>{{ error }}</span>
              {% endfor %}
          </div>
          {% else %}
            {{ form.preset(class="form-control input-color-override", placeholder="Preset Name", required="required") }}
          {% endif %}
      </div>

      {%for i in range(6)%}
         <div class="block-list block-list-4">

         {%for n in range(4)%}
            {% set field = i*4 + n + 1 %}
            <div class="block-list__item">
                 <div class="form-group cc-field">
                   {% if form.get(field).errors %}
                   {{ form.get(field)(class="form-control is-invalid") }}
                   <div class="invalid-feedback">
                       {% for error in form.get(field).errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                   </div>
                   {% else %}
                     {{ form.get(field)(class="form-control input-color-override", placeholder=field) }}
                   {% endif %}
                 </div>
            </div>

         {%endfor%}

         </div>

      {%endfor%}

      <div class="form-group">
         <center><button type="submit" class="btn-save">Save Preset</button></center>
      </div>
   </form>
</div>
{% endblock %}


