{% block modal %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="modal fade" tabindex="-1" id="load-dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                       <div class="modal-header"><h3 class=modal-title>PRESETS</h3></div>

                        <div class="modal-body">
                          <ul>
                            {% for preset in presets %}
                                <li><a class="dropdown-item" href="{{ url_for('main.load', preset=preset)}}"><h5 class="preset-title">{{ preset }}</h5></a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        
                        <div class="modal-footer"><button type="button" class="btn-modal" data-bs-dismiss="modal">Close</button></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
