{% block navbar %}

<h1 class="navbar-brand w-100"><span class="">Faderfox PC4 Preset Editor</span></h1>

<nav class="navbar navbar-expand-lg navbar-dark" id="navstyle">

<!-- Mobile Menu Button ---------------------------------------------->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<!-- Navigation Links ------------------------------------------------>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto w-100 justify-content-center px-3">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.new') }}">New</a></li>
            <li class="nav-item"><a class="nav-link" onclick="$('#load-dialog').modal('show');">Load</a></li>
            <li class="nav-item"><a class="nav-link" onclick="$('#delete-dialog').modal('show');">Delete</a></li>
        </ul>
    </div>
</nav>
{% endblock %}
