{% block saved %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="modal fade" tabindex="-1" role="dialog" id="save-dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                       <div class="modal-header"><h3 class=modal-title>Presets</h3></div>

                        <div class="modal-body">
                            {% if error %}
                                <center>{{ error }}</center>
                            {% else %}
                                 <center>Preset {{ name }} has been saved to the database</center>
                            {% endif %}
                        </div>
                        
                        <div class="modal-footer"><button type="button" class="btn-modal" data-bs-dismiss="modal">Close</button></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
